# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# PyCharm
.idea/

# VS Code
.vscode/

# Result files
# Uncomment if you want to ignore result files
# results/**/*.png
# results/**/*.csv
# results/**/*.json
# results/**/*.html
# results/**/*.pdf

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db

# Large data files
# Uncomment these lines to ignore large data files
# data/trades/*.parquet
# data/external/*.csv
